{{ define "main" }}
<section class="posts">
  {{ if .Title }}
  <h2 class="archiveTitle">{{ .Title }}</h2>
  {{ end }}

  {{ $year := .Params.archiveYear }}
  {{ $month := .Params.archiveMonth }}
  {{ $pages := where .Site.RegularPages "Section" "posts" }}
  {{ if $year }}
  {{ $pages = where $pages "Date.Year" (int $year) }}
  {{ end }}
  {{ if $month }}
  {{ $monthInt := int (strings.TrimLeft "0" (printf "%v" $month)) }}
  {{ $pages = where $pages "Date.Month" (time.AsTime (printf "%04d-%02d-01" (int $year) $monthInt)).Month }}
  {{ end }}
  {{ $pages = $pages.ByDate.Reverse }}

  {{ if .IsNode }}
  {{ $paginator := .Paginate $pages }}
  {{ range $paginator.Pages }}
  <article class="post">
    <h2><a class="post-title" href="{{ .RelPermalink }}">{{ .Title }}</a> <abbr class="small postDate" title="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</abbr></h2>
    {{ if .Summary }}
    <div class="summary">
      {{ .Summary }}
      {{ if .Truncated }}
      <p><a href="{{ .RelPermalink }}">Read more...</a></p>
      {{ end }}
    </div>
    {{ end }}
  </article>
  {{ end }}

  {{ if gt $paginator.TotalPages 1 }}
  <div class="pagination p">
    {{ if $paginator.HasPrev }}
    <span class="previous"><a href="{{ $paginator.Prev.URL }}">&laquo; Newer Posts</a></span>
    {{ end }}
    {{ if $paginator.HasNext }}
    <span class="next"><a href="{{ $paginator.Next.URL }}">Older Posts &raquo;</a></span>
    {{ end }}
  </div>
  {{ end }}
  {{ else }}
  {{ range $pages }}
  <article class="post">
    <h2><a class="post-title" href="{{ .RelPermalink }}">{{ .Title }}</a> <abbr class="small postDate" title="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</abbr></h2>
    {{ if .Summary }}
    <div class="summary">
      {{ .Summary }}
      {{ if .Truncated }}
      <p><a href="{{ .RelPermalink }}">Read more...</a></p>
      {{ end }}
    </div>
    {{ end }}
  </article>
  {{ end }}
  {{ end }}
</section>
{{ end }}
